#sudo a2enmod rewrite && sudo service apache2 restart
<IFModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILNAME} !-f
    RewriteCond %{REQUEST_FILNAME} !-d
    #kivétel adása a szabályhoz, hogy a 
    #http://localhost/Style/style.css kérést kiszolgálja a szerver.
    RewriteCond %{REQUEST_URI} !/app/script
    RewriteCond %{REQUEST_URI} !/app/img
    RewriteCond %{REQUEST_URI} !/app/images
    RewriteCond %{REQUEST_URI} !/public/*
    # RewriteCond %{REQUEST_URI} !/Templates/Header/header.js    
    RewriteRule ^ /public/index.php [L]
</IFModule>
# A minusszal kiakapcsoljuk a könyvtárak kilistázásának lehetőségét.
Options -Indexes