/*
 * Error Page
 */
 .ms-404-msg {
     text-align         : center; 
     font-size          : var(--mn-font-size);
 }
 .ms-404-msg span {     
     font-size          : calc(var(--mn-font-size) * 5);
 }
 .ms-404-btn-container {     
     margin-top         : 300px;
     display            : inline-block;
     font-size          : 20px;
 }