
/*---- navbar header ----*/
.navbar-hdr{	          
	width			: 100%;
	padding			: 10px;
	overflow		: hidden;
	user-select		: none;
	display			: table;
}
.navbar-hdr td:first-child {
	width			: 30%;
}		
.navbar-hdr a {	
	display			: block;
	padding			: 0 10px;	
	font-size		: 20px;
	font-style		: italic;
	font-family		: Geneva;	
}
.navbar-hdr img{
	width			: 40px;	
}
@media (max-width: 750px)
{
	.navbar-hdr {
		display		: none;
	}
}


/*---- navbar links ----*/
.nav-lnks {
	width			: calc( 100% - 20px);
	height			: 120px;
	padding			: 0 10px;
	display			: table;	
	padding-bottom  : 5px;	
	z-index			: 10001;	
}

.navbar-btn {
	width			: calc( 100% - 20px );	
	padding			: 10px;
	margin			: 3px auto;
	border-bottom	: 1px solid #ddd;
	display			: block;	
	border-radius	: 2px;
	font-weight		: bold;
	color			: var(--nb-color);
	cursor			: pointer;
	background-color: #f1f1f1;
}
.navbar-btn:hover {
	background-color: #e6e6e6;
}

.nav-lnks-arrow {
	width			: 10px;
	display			: block;
	float			: left;
	padding			: 4px 6px 4px 0;
}
.nav-lnks-ikn {	
	float			: right;
	width			: 14px;
	display			: block;
}
.nav-hidden{
	display: none;
	transition		: display 2s ease-in-out;
}
.hidden-anchor:focus + .nav-hidden {
	display			: block;		
}


/*---- navbar info section ----*/
#navbar-infos {
	/* navbar padding: 10px; */
	width			: calc( 100% - 20px - 10px );
	padding			: 15px;
	display			: table;
}
#navbar-infos h5 {
	font-style		: italic;
	font-weight		: normal;
	margin			: 10px 0;
}
#navbar-infos h4,
#navbar-infos h5,
.navbar-second-text {
	text-align		: center;
}
.navbar-second-text {
	display			: none;
}
.nav_bar_text {
	font-size		: 12px;
	margin			: 2px 0;
}
@media (max-height: 800px) {
	.nav_bar_text {
		display		: none;
	}
	.navbar-second-text,
	#navbar-infos h5 {
		display		: block;
		margin		: 5px 0;
	}
}
@media (max-height: 750px) {
	.navbar-second-text {
		font-size	: 12px;
	}
}

@media (max-height: 600px) {
	.navbar-second-text {
		display: none;
	}
}


/*---- navbar sessions section ----*/
#navbar-sessions {		
	padding			:0 10px;
	/* navbar padding: 10px; */
	width			: calc( 100% - 20px );
	display			: table;	
	overflow-y		: auto;
}
#navbar-sessions h4,
#navbar-sessions h5,
#navbar-sessions h6 {
	text-align		: center;
}
#navbar-sessions h6 {
	line-height		: 15px;
	padding			: 5px 0;
	margin			: 5px 0;
}
.good-trial,
.bad-trial {
	padding			: 1px 5px;
	margin			:  0 2px;
	border-radius	: 2px;
	box-shadow		: 3px 1px 6px 2px rgb(37, 37, 37);
}
.bad-trial {
	background-color: #800;	
}
.good-trial{
	background-color: #0a0;
	color			:darkblue;
}

/*---- increase indicators ----*/
.online_ring{
	margin			: 0 0 10px 10px;
	color			: green;
}

.increase-container{
	padding			: 0 10px;	
	height			: 20px;
	width			: calc(100% - 2 * var(--navbar-padding));
}
.info-container {
	width			: 70px;
	height			: 150px;
	display			: table;
	position		: absolute;
	right			: 0;
	top				: 100px;

	padding			: 10px;
}
.center-container {
	width			: 70%;
	margin			: 100px auto;
}

