/*
* HEADER SECTION
*
*/

.hdr-coordinate-bx a {
	color			: black;
}
#header .radio-box {
	display			: block;
	float			: left;
	line-height		: 48px;	
	margin			: 0 10px;
}

#header .profile-img {
	width: 25px;
	padding: 0;
}

.hdr-coordinate-bx {
	min-width		: 20px;
	padding			: 0 10px;
	line-height		: 48px;	
    float			: right;
}
.hdr-coordinate-bx li {
    display			: block;   
    min-width		: 0;
    float			: right;	
	cursor			: pointer;
	position		: relative;
}
.hdr-coordinate-bx ul {
	margin			: 0;
}

a.login {	
	display			: block;
	padding			: 0 10px;	
}
a.login:hover {
	color			: blue;
}

.hdr-icons {
	width			: 10px;
	height			: 15px;
}
/*---- header list ----*/
#header-list {
	display			: table;
	cursor			: pointer;
	float			: right;
}
@media ( max-width: 600px ) {
	#header {
		width		: 100vw;
		min-width	: 350px;
	}
}


/*---- dropdown menu ----*/

.drop-down-container {
	background-color: #fff;
	border-radius	: 5px;
	border			: 1px solid #eee;
	font-size		: var(--mn-font-size);
	display			: none;

	position		: fixed;
	right			: 10px;
	top				: 40px;

	padding			: 5px 0;

	z-index			: 10001;

}

.drop-down-container > a,
.drop-down-container #drop-dw-name-cnt {
	min-width		: 100px;
	display			: block;
	padding			: 0 20px;		
}
.drop-down-container > a {
	padding			: 10px 20px;	
	line-height		: var(--mn-font-size);	
}
.drop-down-container > a > img {
	height			: var(--mn-font-size);
	padding			: 0;	
	float			: right;
}

.drop-down-container #drop-dw-name-cnt {
	line-height		: calc(var(--mn-font-size) * 1.5);	
}
.drop-down-container a:hover {
	background-color: #f1f1f1;
}
.drop-down-container hr {
	border			: 1px solid #eee;
}
.drop-down-container img {
	display			: inline-block;
}

/*---- header radios ----*/

.radio-box .radio-container {
	cursor			: pointer;			
}
.radio-box .radio-container input{
    display			: none;
}
.radio-container .circle{
	display			: inline-block;
    width			: 10px;
    height			: 10px;
    border-radius	: 20%;
    background-color: #aaa;
}
.radio-box .radio-container:hover .circle{
    background-color: #777;
}
.radio-box .radio-container input:checked + .circle{
    background		: rgb(70, 60, 30);
}
#header, .navbar {
    -webkit-user-select: none !important; /* Safari 3.1+ */
    -moz-user-select: none !important; /* Firefox 2+ */
    -ms-user-select	: none !important; /* IE 10+ */
    user-select		: none !important; /* Standard syntax */
}
@media ( max-width: 600px ) {
	.radio-box .radio-container {
		display: none;
	}
}

/*---- inspector ----*/
.inspector-container a {
	display			: inline-block;
	margin			: 0 10px;
	line-height		: 50px;
	padding			: 0 5px;	
}
.inspector-container {		
	display			: table;
	float			: left;		
}


/*---- Feedback ----*/
.errorMsg {	
	background-color: rgba(255, 221, 221, 0.500);	
	color			: #444;
}
.succMsg {
	background-color: #dbedff;	
	color			: #444;
}
.succMsg, 
.errorMsg {			
	width			: 100%;
	position		: absolute;
	line-height		: 50px;	
	text-align		: center;
	z-index			: -1;	
}