
/*
* SignUp / SignIn
*/
/*---- SignIn ----*/
.sign-up-cntr {  
	height			: 500px;	
	margin			: 100px 0;		
	/*grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));*/
}
.sign-up-cntr > div { 	
	float			: left;
	min-width		: 200px;
	padding			: 20px;
	display			: table;
}
.sign-up-cntr > div > img {
	display			: block;
	width			: 100%;
	margin			: auto;
}
.sign-up-cntr > div {
	width			: calc(50% - 40px);
}


/*---- SignUp ----*/
.usr-crt-container {
	margin			: 100px auto;
}
.usr-crt-frm {	
	width			: 300px;
	padding			: 20px;
	display			: table;	
	margin			: auto;
	-webkit-user-select: none !important; /* Safari 3.1+ */
    -moz-user-select: none !important; /* Firefox 2+ */
    -ms-user-select: none !important; /* IE 10+ */
    user-select: none !important; /* Standard syntax */
}
.usr-crt-frm .sex-container {
	display			: table;
	width			: 100%;
	margin			: 5px 0;

}
.usr-crt-frm .radio-container {
	width			: 20%;	
	float			: left;
}
.usr-crt-frm h3 {
	text-align: center;
}

.usr-crt-frm input:not([type="submit"]) {	
	padding: 10px;
	margin-bottom: 20px;		
	border-radius: 4px;	
}
.usr-crt-frm input[type="file"] {
	border: none;
	display: none;
	padding: 0;	
}
.usr-crt-frm input:not([type='submit']) {
	width: 300px;	
}
#show-file-path {
	overflow: hidden;
	word-break: break-all;	
	width: 300px;	
}

@media ( max-width: 400px ) {
	.usr-crt-frm input:not([type="submit"]),
	.usr-crt-frm {
		width: 80vw;
	}	
}