:root {
    --img-container-padding : 10px;
}
/*---- user platform ----*/
.user-profile-structure {   
    color			: #777;
	max-width		: 1500px;
	min-width		: 800px;
	display			: grid;
	height			: 300px;
	grid-gap		: 10px;
    grid-template	: 
        "a a a g . ." 30px        
        "b b . c . ." 150px
        "b b . c . ." 200px
        "d d . e . ." 40px
        "f f . . . ." 10px
		/ 250px 250px 100px 200px 1fr 1fr;
}
.user-profile-structure > div {
    overflow        : hidden;
}

.user-profile-structure .title:first-child {
    grid-area       : a;
    font-weight     : bold;    
}
.user-b { 
    grid-area       : b;	
}
.user-c {
    grid-area       : c;
}
.user-e {
    grid-area       : e ;
}
.user-d {
    grid-area       : d;
}
.user-f {
    grid-area       : f;
    border-bottom   : 1px solid rgb(214, 214, 214);
}
.user-g {
    grid-area       : g;
    font-weight     : bold;
}

.big-user-image + .btn {
    position        : relative;
    bottom          : 30px;
}
.user-b p {
    border          : 1px solid rgb(235, 234, 234);
    border-radius   : 5px;
    color           : black;
    background-color: #fff;
    margin-top      : 0;
    padding         : 5px;
}
.user-b.update input,
.user-b.update p {
    background-color: #fffcc8;
    border          : 1px solid rgb(235, 234, 234);
    border-radius   : 5px;
    margin-bottom   : 10px;
    padding         : 5px;
    width           : 90%;
}

#update-img + label {    
    margin          : auto;
}

.big-user-image {	 
    margin          : auto;
    display         : block;   
    max-width       : 100%;  
    max-height      : 100%; 
    position        : relative;
}
