body{
    padding:0;
	margin:0;   
	font-size:16px; 
	background-color: #f9f9f9;
	min-height: 100vh;
}

a {
    text-decoration: none;
}
:focus, :active { 
	outline: none; 
}
/*
* Helpers
*/

.btn , label, #show-file-path {
	font-size: 12px;
	display: block;
}
/*
* HEADER SECTION
*
*/
.main-header {  
    padding: 15px;
    float: right;
	color: #eee;
	width: calc( 100vw - 100px - 30px);
	background-color: rgba(255, 255, 255, 0.8);	
    user-select: none;
}
.main-header, .hdr-coordinate-bx a {
	color: black;
}
.main-header .radio-box {
    width: 100px;
    float: left;
}
.main-header img {
	width: 15px;
	padding: 2px 5px;
	display: block;
	float: right;
}

.hdr-coordinate-bx {
   	min-width: 300px;   
    float: right;
}
.hdr-coordinate-bx li {
    display: block;
    padding: 0 10px;
    min-width: 0;
    float: right;
	border-left: 1px solid #555;
	cursor: pointer;
	position: relative;
}
.hdr-coordinate-bx ul {
	margin: 0;
}
.hdr-coordinate-bx li:last-child {
	border: none;
}
.hdr-coordinate-bx li:hover {
	-color: #888;
}

.hdr-icons {
	width: 10px;
	height: 15px;
}

@media ( max-width: 600px ) {
	.main-header {
		width: 100vw;
		min-width: 350px;
	}
}

/*---- dropdown menu ----*/

.drop-down-container {
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #eee;

	display: none;

	position: absolute;
	right:10px;
	top: 20px;

	padding: 5px 0;

	z-index: 10001;

}

.drop-down-container a {
	min-width: 100px;
	display: block;
	padding: 10px 20px;
}
.drop-down-container a:hover {
	background-color: #aaf;
}
.drop-down-container hr {
	color: #fff;
}

/*---- header radios ----*/

.radio-box .radio-container {
	cursor: pointer;
	padding: 5px;
	width: calc( 50% - 10px);
	float: left;
}
.radio-box .radio-container input{
    display: none;
}
.radio-box .radio-container .circle{
	display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 20%;
    background-color: #aaa;
}
.radio-box .radio-container:hover .circle{
    background-color: #777;
}
.radio-box .radio-container input:checked + .circle{
    background: rgb(70, 60, 30);
}
.main-header, .nav-bar {
    -webkit-user-select: none !important; /* Safari 3.1+ */
    -moz-user-select: none !important; /* Firefox 2+ */
    -ms-user-select: none !important; /* IE 10+ */
    user-select: none !important; /* Standard syntax */
}
@media ( max-width: 600px ) {
	.radio-box .radio-container {
		display: none;
	}
}

/*
* Navbar section
* 
*/
.nav-bar {
    overflow: hidden;	
	height: 100vh;	
	min-width: 100px;
	margin:0;
	display: block;

	position: fixed;

    color: white;
    z-index: 1;
    background-color: #111
}
@media ( min-width: 600px ) {
	.nav-bar {
		top:0;
		left:0;		
	}
}
@media ( min-width: 1000px ) {
	.nav-bar {
		width:10vw;	
	}
	.main-header {
		width: calc( 90vw - 30px);
	}
}
@media ( max-width: 600px ) {
	.nav-bar {
		height: 50px;
		width: 100vw;

		bottom: 0;
	}
}

/*---- navbar header ----*/
.navbar-hdr{
	float: left;            
	height: 40px;
	width: calc( 100% - 20px );
	padding: 10px;
	overflow: hidden;
	user-select: none;
	display: block;
}
.navbar-hdr a {
	float: right;
	margin:5px;
	padding: 0 10px;
	font-size:20px;
	font-style: italic;
	font-family: Geneva;
	color: white;
}
.navbar-hdr img{
	display: block;
	width: 40px;
	padding: 0 10px;
	float: left;
}
@media ( max-height: 600px ), ( max-width: 1440px ) {
	.navbar-hdr img{
		display: none;
	}
	.navbar-hdr a {
		width: calc( 100% - 30px );
		text-align: center;
	}
}


/*---- navbar links ----*/
.nav-lnks {
	width: calc( 100% - 20px);
	height: 120px;
	position:absolute;
	padding: 0 10px;
	display: table;
	top:100px;
	padding-bottom:5px;
	background-color: #111;	
	z-index: 10001;
}

.nav-bar-btn {
	width: calc( 100% - 20px );	
	padding: 10px;
	margin: 3px auto;
	display: block;	
	border-radius: 2px;
	font-weight: bold;
	color: #eee;
	cursor: pointer;
	background-color: rgb(32, 32, 32);
}
.nav-bar-btn:hover {
	color: #bbb;
}

.nav-lnks-arrow {
	width: 10px;
	display: block;
	float: left;
	padding: 4px 6px 4px 0;
}
.nav-lnks-ikn {	
	float: right;
	width: 14px;
	display: block;
}
.nav-hidden{
	display: none;
	transition: display 2s ease-in-out;
}
.hidden-anchor:focus + .nav-hidden {
	display: block;		
}


/*---- navbar info section ----*/
#navbar-infos {
	position: absolute;
	top:220px;
	/* navbar padding: 10px; */
	width: calc( 100% - 20px - 10px );
	padding: 15px;
	display: table;	
}
#navbar-infos h5 {
	font-style: italic;
	font-weight: normal;
	margin: 10px 0;
}
#navbar-infos h4,
#navbar-infos h5,
.navbar-second-text {
	text-align: center;
}
.navbar-second-text {
	display: none;
}
.nav_bar_text {
	font-size: 12px;
	margin: 2px 0;
}
@media (max-height: 800px) {
	.nav_bar_text {
		display: none;
	}
	.navbar-second-text,
	#navbar-infos h5 {
		display: block;
		margin: 5px 0;
	}
}
@media (max-height: 750px) {
	.navbar-second-text {
		font-size: 12px;
	}
}

@media (max-height: 600px) {
	.navbar-second-text {
		display: none;
	}
}


/*---- navbar sessions section ----*/
.good-trial,
.bad-trial {
	padding: 1px 5px;
	margin:  0 2px;
	border-radius: 2px;
	box-shadow: 3px 1px 6px 2px rgb(37, 37, 37);
}
.bad-trial {
	background-color: #800;	
}
.good-trial{
	background-color: #0a0;
	color:darkblue;
}
#navbar-sessions {
	position: absolute;
	top:48%;
	height: 52vh;
	padding:0 10px;
	/* navbar padding: 10px; */
	width: calc( 100% - 20px );
	display: block;	
	overflow-y: auto;
	background-color: #111;
}
#navbar-sessions h4,
#navbar-sessions h5,
#navbar-sessions h6 {
	text-align: center;
}
#navbar-sessions h6 {
	line-height: 15px;
	padding: 5px 0;
	margin: 5px 0;
	background-color: rgb(39, 35, 24);
}

/*---- increase indicators ----*/
.increase-container{
	padding:0 10px;	
	height: 20px;
	width: calc( 100% - 20px );
	position:absolute;
	background-color: #111;
	top:70px;
}
.online_ring{
	margin: 0 0 10px 10px;
	color: green;
}

@media (min-width: 1350px){
	.nav_bar{
		width: 180px;
	}
}
@media(max-width: 1350px){
	.nav_bar{
		width: 11vw;;
	}
}

/*
* SignUp / SignIn
*/

.usr-crt-frm {	
	margin: 100px auto;
	width: 300px;
	padding: 20px;
	display: table;
	background-color: white;

	-webkit-user-select: none !important; /* Safari 3.1+ */
    -moz-user-select: none !important; /* Firefox 2+ */
    -ms-user-select: none !important; /* IE 10+ */
    user-select: none !important; /* Standard syntax */
}

.usr-crt-frm h3 {
	text-align: center;
}

.usr-crt-frm input:not([type="submit"]) {	
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid rgb(219, 219, 219);	
	border-radius: 4px;
	background-color: #fffcc8;	
}
.usr-crt-frm input[type="file"] {
	border: none;
	display: none;
	padding: 0;	
}
.usr-crt-frm input:not([type='submit']) {
	width: 300px;	
}
#show-file-path {
	overflow: hidden;
	word-break: break-all;	
	width: 300px;	

}

@media ( max-width: 400px ) {
	.usr-crt-frm input:not([type="submit"]),
	.usr-crt-frm {
		width: 80vw;
	}	
}

.error-span {
	color: darkred;
}

/*
* Buttons
*/
.btn {
	border: none;
	padding: 10px 0;
	margin: 5px 0;
	
	border-radius: 4px;
	width: 100%;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	user-select: none;
}
.btn:active {
	margin-top: 6px;
	padding-bottom: 9px;
}

.btn-gldnrd {		
	background-image: linear-gradient(to bottom, rgb(197, 169, 97), darkgoldenrod);
	color:white;	
}
.btn-rng {
	background-image: linear-gradient(to bottom, rgb(235, 190, 134), rgb(199, 157, 107));	
}
.btn-save {
	background-image: linear-gradient(to bottom, #0a0, #060);

	background-color: #080;
	color: white;
}
/*
* INFO
*/
.info-container {
	width: 70px;
	height: 150px;
	display: table;
	position: absolute;
	right: 0;
	top: 100px;

	padding: 10px;
}
.info-container span {	
	display:block;
	text-align: right;
	padding: 10px 0;
	font-style: italic;
}
#level-print-container {
	font-weight: bold;
	text-align: center;
}
.info-container h6 {
	padding: 5px;
	margin: 0;
}

@media ( max-width: 600px ) {
	.info-container {
		display: none;
	}
}

/*
* MAIN HOME 
*/
.main-home {
	width: 80vw;
	margin: 100px auto;
	text-align: center;
}

#empty-wellcome {
	font-size: 50px;
}

/*---- inspectors  ----*/
.inspector-container {
	position: fixed;
	right: 20px;
	bottom: 100px;
	display: table;
	padding: 10px;
	box-shadow: 0 0 5px #eee;
}
.inspector-btn {
	display: block;
	width: 30px;
	height: 30px;	
	margin: 20px 0;
}

#play-inspector {
	background-image: url('../img/n_back_start_black.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#options-inspector {
	background-image: url('../img/n_back_edit_black.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#document-inspector {
	background-image: url('../img/book_black.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}