:root {
    --img-container-padding : 10px;
}
/*---- user platform ----*/
.user-profile-structure {
    margin			: auto;
    color			: #777;
	max-width		: 1000px;
	min-width		: 800px;
	display			: grid;
	height			: 300px;
	grid-gap		: 10px;
    grid-template	: 
        "main-title main-title"     50px
        "user-datas-tbl user-image" 320px
        "d user-img-chng-cell"      30px
        "line line "                10px
		/ 1fr 300px;
}
.user-profile-structure > div {
    overflow        : hidden;
}

.user-profile-structure .title:first-child {
    grid-area       : main-title;
    font-weight     : bold;
}
.user-datas-tbl { 
    grid-area       : user-datas-tbl;	
}
.user-image {
    grid-area: user-image;
}
.user-img-chng-cell {
    grid-area: user-img-chng-cell ;
}
.d {
    grid-template   : d;
}

.line {
    grid-area       : line;
    border-bottom   : 1px solid #ddd;
}

#update-img + label {
    width           : 200px;
    margin          : auto;
}
/*---- user table ----*/
.user-datas-table {
    width			: 500px;    	
	float			: left;
	border-collapse	: separate;
    border-spacing	: 5px;
    padding         : 10px;
}
.user-datas-table input:not([type="checkbox"]) {
    border          : none;
    padding         : 5px;
    width           : 100%;    
    cursor          : pointer;
}
.user-datas-table input.persona-data-input {
    background-color: #f9f9f9;
    width           : calc(100% - 10px); 
    cursor          : auto;
}
input.controlInputs {
    display         : none;
}
.user-datas-table td {
	line-height		: 25px;
}
.user-datas-table caption {
	background-color: rgb(153, 153, 253);	
	color			: white;
	padding			: 10px;	
}
.user-datas-table tr td:first-child {
	-text-align		: right;
	font-weight		: bold;	
}
.big-user-image {	 
    margin          : auto;
    display         : block;   
    max-width       : 100%;  
    max-height      : 100%; 
}
#show-pw {
    cursor          : pointer;   
    display         : none;
    font-size       : calc(var(--mn-font-size) / 1.4);
}
/*---- modal ----*/
.modal {
    position        : fixed;
    width           : 100%;
    height          : 100%;
    z-index         : 1;
    background-color: rgba(0, 0, 0, 0.281);
    display         : none;
}
.model-content-container {   
    z-index         : 20002;
    background-color: #f9f9f9;
    display         : table;
    position        : absolute;
}

/*---- modify ----*/
#update-img {
    display         : none;
}