:root {
    --img-container-padding : 10px;
}

/*---- modify ----*/
#update-img {
    display         : none;
}

/*---- main settings platform ----*/
.settings-structure {       
	max-width		: 1500px;
	min-width		: 800px;
	display			: grid;
	height			: 300px;
    grid-gap		: 10px;
    /* A grid kitartja a szülő elemek szélességét! */
    grid-template	: 
        "a b ." 500px                
        ". b ." 500px        
		/ 160px 700px 1fr;
}
.settings-structure > div {
    overflow        : hidden;
}
.settings-navbar {
    grid-area       : a;
    display         : grid;
    border-radius   : 5px;
    font-size       : calc( var(--mn-font-size) / 1.4);
    grid-gap        : 5px;
    grid-template   :
        "a" 40px
        "b" 40px
        "c" 40px
        / 1fr;
    
}
.settings-navbar-a {
    grid-area       : a;  
    padding         : 5px 10px;
    display         : table;    
}
.settings-navbar-b {
    grid-area       : b;  
}
.settings-navbar-c {
    grid-area       : c;
}
.settings-navbar-a > div {    
    display         : block;
    float           : right;
}
.settings-navbar a {    
    display         : block;
    width           : calc(100% - 20px);
    padding         : 0 10px;
    height          : 100%;
    line-height     : 40px;
    font-size       : var(--mn-font-size);
}

.small-user-image {
    width           : 30px;
    display         : inline-block;
}
.active {
    text-decoration : none;    
    padding-left    : 5px !important;    
}

.big-user-image + label {    
    position        : relative;
    bottom          : 40px;
    left            : 10px;
}


/*---- settings content----*/
.setting-contents {
    grid-area       : b;
    display         : grid;
    width           : 100%;
    grid-gap        : 10px;
    grid-template: 
        "a a . b" 40px
        "c c . f" 400px 
        "g g . ." 20px                       
        "d d . ." 240px
        "h h . ." 30px
        / 1fr 1fr 150px 200px;

}

/*
    Content
----------------------------------*/

/*---- personal ----*/
.user-update-structure .title:first-child {
    grid-area       : a;
    font-weight     : bold;    
}
.user-b {
    grid-area       : b;    
}
.user-c { 
    grid-area       : c;
    padding         : 2px;	
}
.user-d {
    grid-area       : d;
    padding         : 2px;
}
.user-e {
    grid-area       : e ;
}
.user-f {
    grid-area       : f;
}
.user-g {
    grid-area       : g;    
}
.user-h {
    grid-area       : h;    
}


.user-c textarea {
    width           : 100%;
    height          : 100px;
    resize          : none;
    padding         : 5px;
}
.setting-contents p {    
    border-radius   : 5px;    
    margin-top      : 0;
    padding         : 5px;
}
.setting-contents .sex-container {
    width           : 100%;
    display         : table;
    padding         : 10px;
}
.setting-contents .sex-container .radio-box {
    display         : inline-block;
}
.setting-contents .sex-container .radio-container {
    padding         : 0 10px;
    display         : inline-block;
}
.setting-contents .btn {
    margin          : 10px 0;
}
.setting-contents input:not([type="submit"]),
.setting-contents p {    
    border-radius   : 5px;
    margin-bottom   : 10px;
    padding         : 10px;
    width           : 100%;
}
