:root {
    --img-container-padding : 10px;
}

/*---- modify ----*/
#update-img {
    display         : none;
}

/*---- main settings platform ----*/
.settings-structure {       
	max-width		: 1500px;
	min-width		: 800px;
	display			: grid;
	height			: 300px;
    grid-gap		: 10px;
    /* A grid kitartja a szülő elemek szélességét! */
    grid-template	: 
        "a b ." 500px                
        ". b ." 500px        
		/ 160px 700px 1fr;
}
.settings-structure > div {
    overflow        : hidden;
}
.settings-navbar {
    grid-area       : a;
    display         : grid;
    border-radius   : 5px;
    font-size       : calc( var(--mn-font-size) / 1.4);
    grid-gap        : 5px;
    grid-template   :
        "a" 40px
        "b" 40px
        "c" 40px
        / 1fr;
    
}
.settings-navbar-a {
    grid-area       : a;  
    padding         : 5px 10px;
    display         : table;    
}
.settings-navbar-b {
    grid-area       : b;  
}
.settings-navbar-c {
    grid-area       : c;
}
.settings-navbar-a > div {    
    display         : block;
    float           : right;
}
.settings-navbar a {    
    display         : block;
    width           : calc(100% - 20px);
    padding         : 0 10px;
    height          : 100%;
    line-height     : 40px;
    font-size       : var(--mn-font-size);
}

.small-user-image {
    width           : 30px;
    display         : inline-block;
}
.active {
    text-decoration : none;    
    padding-left    : 5px !important;    
}

.big-user-image + label {    
    position        : relative;
    bottom          : 40px;
    left            : 10px;
}


/*---- settings contents ----*/
.personal-setting-contents {
    grid-area       : b;
    display         : grid;
    width           : 100%;
    grid-gap        : 10px;
    grid-template:         
        "a a . b" 40px
        "c c . f" 400px 
        "g g . ." 20px                       
        "d d . ." 240px
        "h h . ." 30px
        / 1fr 1fr 150px 200px;

}

.nback-setting-contents {
    grid-area       : b;
    display         : grid;
    width           : 100%;
    grid-gap        : 10px;
    grid-template: 
        "title title title describtion"                                       60px
        "nback-game-mode-name nback-game-mode-value . describtion"      40px        
        "nback-level-name nback-level-value . describtion"              40px         
        "nback-seconds-name nback-seconds-value . describtion"          40px        
        "nback-trials-name nback-trials-value . describtion"            40px        
        "nback-eventlength-name nback-eventlength-value . describtion"  40px        
        "nback-color-name nback-color-value . describtion"              40px        
        "nback-form-submit . . describtion"                             300px
        / 150px 1fr 50px 1fr;
}

/*
    Content
----------------------------------*/
/*---- Nback ----*/
.nback-setting-contents  div:not(.nback-form-submit) {
    display         : flex;  
}
.nback-setting-contents input[readonly=""] {
    color           : #aaa;
}
.nback-game-mode-name,
.nback-level-name,
.nback-seconds-name,
.nback-trials-name,
.nback-eventlength-name,
.nback-color-name {
    align-items     : center;   
    padding         : 0 5px;
}
.nback-setting-contents .title {
    grid-area       : title;
    justify-content : center;    
}

.nback-game-mode-name {
    grid-area       : nback-game-mode-name;
}
.nback-game-mode-value {
    grid-area       : nback-game-mode-value;
}

.nback-level-name {
    grid-area       : nback-level-name;
}
.nback-level-value {
    grid-area       : nback-level-value;
}

.nback-seconds-name {
    grid-area       : nback-seconds-name;
}
.nback-seconds-value {
    grid-area       : nback-seconds-value;
}

.nback-trials-name {
    grid-area       : nback-trials-name;
}
.nback-trials-value {
    grid-area       : nback-trials-value;
}

.nback-eventlength-name {
    grid-area       : nback-eventlength-name;
}
.nback-eventlength-value {
    grid-area       : nback-eventlength-value;
}

.nback-color-name {
    grid-area       : nback-color-name;
}
.nback-color-value {
    grid-area       : nback-color-value;
}

.nback-form-submit {
    grid-area       : nback-form-submit
}

.nback-settings-describtion {
    grid-area       : describtion;
    background-color: #f6f6f6;
    padding         : 0 10px;
    white-space     : pre-line;
}


/*---- personal ----*/
.user-update-structure .title:first-child {
    grid-area       : a;
    font-weight     : bold;    
}
.user-b {
    grid-area       : b;    
}
.user-c { 
    grid-area       : c;
    padding         : 2px;	
}
.user-d {
    grid-area       : d;
    padding         : 2px;
}
.user-e {
    grid-area       : e ;
}
.user-f {
    grid-area       : f;
}
.user-g {
    grid-area       : g;    
}
.user-h {
    grid-area       : h;    
}


.user-c textarea {
    width           : 100%;
    height          : 100px;
    resize          : none;
    padding         : 5px;
}
.personal-setting-contents p,
.nback-setting-contents p  {    
    border-radius   : 5px;    
    margin-top      : 0;
    padding         : 5px;
}
.personal-setting-contents .sex-container {
    width           : 100%;
    display         : table;
    padding         : 10px;
}
.personal-setting-contents .sex-container .radio-box {
    display         : inline-block;
}
.personal-setting-contents .sex-container .radio-container {
    padding         : 0 10px;
    display         : inline-block;
}
.personal-setting-contents .btn {
    margin          : 10px 0;
}
.personal-setting-contents input:not([type="submit"]),
.personal-setting-contents p{
    margin-bottom   : 10px;
    padding         : 10px;
    width           : 100%;
}
.personal-setting-contents input:not([type="submit"]),
.personal-setting-contents p,
.nback-setting-contents input:not([type="submit"]),
.nback-setting-contents select{
    border-radius   : 5px;
}
