/*
 *
 * 	Common classes
 *
 */

		.main_page_center_medium_consider_container{
			width: 98%;
			height: auto;
			margin: 1% auto;
			margin: 30px 0;
			font-weight: bold;
			color: #ccc;
		}
		.tooltip {
            position: relative;
            display: inline-block;
            width: 40px;
            _height: 100%;
        }
        .tooltip .tooltiptext {
            visibility: hidden;
            width: 125px;
			height: 20px;
            background-color: #666;
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;
            left: 30px;
            top: 40px;
            position: absolute;
            z-index: 1;
        }
        input {
			_cursor: pointer !important;
			background-color: black;
			color: white;
			outline: none;

		}
		input[type="text"]{
			background-color: black;
			color: white;
		}
		input::selection {
			background: black;
		}
		button {
			cursor: pointer !important;
			background-color: black;
		}
		button, button:focus, button:active {
			outline: none !important;
		}
		a{
			pointer-events: auto;
			outline: none;
		}
		.clear{
			clear: both;
			height: 0;
		}

/*
* N-BACK_STYLE (.n_back_margin, .n_back_table, div table.n_back_table tr, div table.n_back_table td, div table.n_back_table img, .n_back_input,.n_back_visible )
*
*/
		#n_back_margin{
			background:black;
			border: 10px solid black;
		}
		#n_back_table_center_td{
			border: 0.5px solid #333;
		}
		#n_back_table_top_center_td{
			border-left: 0.5px solid  #333;
			border-right: 0.5px solid  #333;
		}
		#n_back_table_center_left_td{
			border-top: 0.5px solid  #333;
			border-bottom: 0.5px solid  #333;
		}
		#n_back_table_center_right_td{
			border-top: 0.5px solid  #333;
			border-bottom: 0.5px solid  #333;
		}
		#n_back_table_bottom_center_td{
			border-left: 0.5px solid  #333;
			border-right: 0.5px solid  #333;
		}
		.n_back_visible {
			opacity: 0.8;
		}
        table.n_back_table tr{
            padding:initial;
        }
        table.n_back_table td{
            _background-image: radial-gradient( #00001a, black 70%);
				background: transparent;

        }
        table.n_back_table img{
            width:96%;
            height:96%;
        }
        .n_back_input {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            width: 100%;
            color: black;
            border: none;
        }
		#n_back_notice_0{
			background-color: black;
			color: #777;
		}
        #n_back_notice_1{
			background-color: black;
			color: white;
		}
		#n_back_notice_2{		
			background-color: transparent;	
			color: rgb(100, 100, 100);
		}
		#n_back_imitation{
			background-image: url('.././img/n_back_imitation_black.png');
			background-size: 300px 300px;
			width:300px;
			height: 300px;
			float: left;
			background-color: black;
		}
		#n_back_empty_folder_img_container{
			width: 200px;
			background-image: url(".././img/empty_folder_black.png");
			background-size: 250px 200px;
			height: 200px;
			width: 250px;
			margin: auto;
		}
		#n_back_create_document_title_container input[type="text"],
		#num_of_items{
			border: none;
			border-bottom: 1px solid #777;
			margin-top: 20px;
			padding: 5px;
			margin:0 5px;
			width: 150px;
		}
		#n_back_create_document_title_container label{
			color: #aaa;
		}
		#num_of_items:hover{
			border-bottom: 1px solid #00f !important;
		}
		#num_of_items_container{
			width: 350px;
			float: right;
			margin: 0 50px 0 0;

		}
		#n_back_create_document_title_container{
			display: table;
			width: 93%;
		}
		#new_n_back_document_content{
			resize: vertical;
			width: 95%;
			padding: 5px;
			min-height: 300px;

		}
		#new_n_back_document_content_container{
			margin: 50px 0;
			width: 92%;

		}
		#new_n_back_document_content_container textarea{
			color: white;
			background-color: #333;
			width: 100%;
		}
		#documents_title_container{
			padding: 30px 0;
			width: 95%;
			position: relative;
			top:50px;
		}
		#documents_title_container li{
			line-height: 25px;
		}
		#documents_title_container a{
			color: #98f;
			text-decoration: none;
		}
		#document_content_container{
			width: 750px;
			overflow:  hidden;
			margin: 30px 0;
		}
		#document_heaher_container{
			padding: 10px 0 10px 0;
			width: 750px;
			border-bottom: 1px solid #aaa;
		}
		#n_back_modify_level{
			font-size: 100px;
			margin: 100px auto auto auto;
			width: 400px;
			display:table;
			text-align:center;
			color: #ccc;
            font-family:"Comic Sans MS", sans-serif
		}		
		#doc_privilege_radio_container{
			float: right;
			margin: 5px 0;
		}
		#doc_privilege_radio_container span{
			float: left;
			margin: 0 10px 5px 0;
		}
/*
 *
 * Body
 *
 */
		html {
			height: 100%;
			color: white;
			background-color: black;
			/*background-image: url("http://yesofcorsa.com/wp-content/uploads/2018/02/Neural-Network-Art-Wallpaper-Gallery.jpg");
			background-size:100% 100%;
			background-repeat: no-repeat;*/
		}
		.main_body{	
			margin: 0 auto;
			min-height: 100%;
		}
		.main_body>.main_page{
			border-radius: 3px 3px 0 0;
			width: 100%;
			height: 100%;
			margin: 0;
			-font-size: 12px;
			background-color: transparent;
			display: table;
			_box-shadow: 0 0 7px #666;
		}
    /*
     *
     *  Fejléc beállításai. .main_header_style main_header_style_left #main_header_img main_header_style_center clear
     *
     */
		#name_marker{
			color: white;
		}	
		.main_header_style{
			color: white !important;
			border-bottom: 1px solid #222;
			background-color:rgba(0, 0, 0, 0.6);
		} 
        .main_header_style_left{
            float: left;            
			height: 60px;
			overflow: hidden;
			user-select: none;
        }
        #main_header_img{
            margin-top: 5px;
            display: inline-block;
            float: left;
        }
        .main_header_style_left h1{
            font-size:20px;
            font-style: italic;
            font-family: Geneva;
        }
        .main_header_style_center{
            float: right;
            text-align: left;
            margin: 10px;
        }
        .clear{
            clear:both;
        }
        #chat_tooltip:hover .tooltiptext {
            visibility: visible;
			height: 40px;
			background-color: black;
        }
    /*
     *
     *  Login-box formázása. login_box header_button header_button:hover border
     *
     *
     */
        ._header_login_box{
            height: 50px;
            width: 50%;
            float: right;
            overflow: hide;
        }
        .header_button{
            border: none;
            height: 30px;
            float: right;
            margin: 10px;
            padding: 5px 0px 1px 0px;
            font-family: Geneva;
            overflow: hide;
            background-color: transparent;
			color: white;
        }
        .header_button:hover{
            border-bottom: 1px solid white;
            padding: 5px 0px 0 0px;
        }
        .header_button:active{
            color:purple;
        }
		.button{
            border: none;
            height: 30px;
            float: right;
            margin: 10px;
            padding: 5px 0px 1px 0px;
            font-family: Geneva;
            overflow: hide;
            background-color: transparent;
			color: white;
        }
        .button:hover{
            padding: 5px 0px 0 0px;
			border:1px solid transparent;

        }
        .button:active{
            color:purple;
        }
        .border{
            _border-left: 1px solid #aaaaaa;
            height: 30px;
            float: right;
            margin: 10px 0px 10px 0px;
        }
    /*
     *
     *  Navigációs sáv. main_page_left_var
     *
     */
		#goal_label{
			background-color: #090;
			color: black;
			padding: 0 5px;
		}
		.nav_bar_text{
			background: #222;
		}
		.nav_bar{
	  		background-color: black;
			color: #bbb;
			outline-color: rgb(94, 66, 15);
		}
		#nav_bar_link_container{
			border-bottom: 1px solid #222;
		}
		.nav_bar a{
			color: black;
		}
		.nav_bar_paragraph{
			  width: 94%;
			 height: 30px;
			 margin: 3px 0;
			 border: none;
background-color: transparent;;
			  color: white;
			display: table;
	  padding-top: 10px;
	 padding-left: 10px;
			 cursor: pointer;
			outline: none;
	  font-weight: bold;
			z-index: 2 !important;
		-webkit-user-select: none; /* Safari 3.1+ */
		  -moz-user-select: none; /* Firefox 2+ */
		  -ms-user-select: none; /* IE 10+ */
			 user-select: none; /* Standard syntax */
		}
		.nav_bar_paragraph:hover{
            background-image: linear-gradient(#222, #222);
		}
		.nav_bar_paragraph_child{
				  width: 148px;
				 height: 30px;
				 margin: 0;
	background-color: #111;
		  font-weight: bold;
				  color: white;
				padding: 10px 0 0 10px;
				display: block;
				  float: right;
		-webkit-user-select: none; /* Safari 3.1+ */
		  -moz-user-select: none; /* Firefox 2+ */
		  -ms-user-select: none; /* IE 10+ */
			 user-select: none; /* Standard syntax */
		}
		.nav_bar_paragraph_child:hover{
			background-color: #222;
		}
		.nav_bar_child_links_content{
			background-image: linear-gradient( to right, transparent 21%, black 10%);
		}
		.nav_bar_links{
			text-decoration: none;
			height: 40px;
			margin: 3px 0 3px 0;
			display: block;
			outline: none;
		}

        .nav_bar_links:active{
            color: purple;
        }
		#false_indicator_container{
			width: 94%;
			height: 20px;
			display: table;
			margin: 2.5%;
			_border: 1px solid #888;
		}

    /*
     *
     *  user area.
     *
     */
		#main_page_center_box{
			_border: 1px solid #431;
			background-color: black;
			color: white;
		}
    /*
     *
     * Loggin_form
     *
     */
		#load{
			background-image: url(".././img/abstract_3_black.gif");
		}
		#login_input_box{
			background: #000;
			border: 1px solid #111;
		}
        #login_form{
			width: 100%;
        }
        #login_form input{
			pointer-events: auto;
			margin: 5px;
		}

        #login_form_label_box label{
            margin:6px;
            float: inherit;
			color: white;
        }
        #login_form_label_box td{
			width: 100px;

		}
		#login_form_label_box input{
			border: none;
			border-bottom: 1px solid gray;
			background: #000;
			color: white;
			padding: 3px;
		}
		#login_form_label_box input:hover,
		#login_form_label_box input:focus{
			border-bottom: 1px solid #558;
		}
        #login_form_label_box{
            float:left;
			margin: 30px 0 10px 0;
        }
        #loggin_form_message{
            height: 10%;
            width: 100%;
            text-align: center;
			float: left;
        }
        #login_form_ok{
			width: 60px;
			border: none;
			color: white;
			margin: 40px 10px 0 10px;;
			float: right;
			border-radius: 7px;
			padding: 5px;
			background: #000;
			transition: background-color 0.5s ease-in-out;
		}
		#login_form_ok:hover{
			background-color: #eef;
			transition: background-color 0.5s ease-in-out;

		}
/*
 *
 *  create_user.php
 *
 */
        #create_user_form{
            width:40%;
            height:calc(90% - 63px);
            margin: 2.5% 0 0 5%;
            overflow: auto;
            _border: 1px solid #005;                                 /*@*/
            border-right: 1px solid #aaa;
            _border-radius: 10px;
            float: left;
        }
        #create_user_form input,#create_user_form label{
            float: inherit;
            font-size:12px;
            margin: 5px;
            height: 25px;
			pointer-events: auto;
			width: 50%;
        }
        #create_user_form input{
            border:none;
            border-bottom: 1px solid #aaa;

        }
        #create_user_form div{
            overflow: hidden;
        }
        #cu_div {
            width: auto;
			height: 80px;
			margin: 20px 20px 0 20px;
		}
		#create_user_form p{
			width: 135px;
			float: left;
			text-align: right;
			font-weight: bold;
			color: #ccc;
		}
		#create_user_pic{
			background-image: url('.././img/default_user_white.png');
			background-size: 200px 200px;
            width:200px;
            height:200px;
            margin: 10.5% 110px 0 0;
            overflow: auto;
			float:right;
			background-repeat: no-repeat;
       }
        #create_user_img{
            width: 5%;
            float: right;
        }
        #create_user_remove_img{
			background-image: url(".././img/delete_white.png");
			width: 32px;
			height:40px;
			background-repeat: no-repeat;
			cursor: pointer !important;
			float: left;

		}
        #create_user_remove_img:active{
			background-color:#1c5272;
			border-radius: 3px;
			background-image: url(".././img/delete_white.png");

		}
		#create_user_remove_img:hover .tooltiptext {
            visibility: visible !important;
        }
        #create_user_form input[type="image"]{
            width: 68px;
            height: 68px;
            float: right;
            border-bottom: none;
            margin: 2px 2.5px 0 5px;
            border-radius: 40px;
            box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
        }
        #create_user_form input[type="image"]:hover{
            width: 75px;
            height: 75px;
            margin: 0 0 0 0;
        }
		#create_user_submit_id{
			background-color: black;
			border: none;
			float:right;

		}
		#create_user_submit_id:hover{
            border-bottom-color: blue !important;
		}
        #create_user_add_box{
            height: 50px;
			padding: 20px;
			margin: 50px 0;
        }
        #cu_6 {
            width: auto;
        }
        .inputfile{
			width: 0.1px;
			height: 0.1px;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			z-index: -1;
		}
		input[type='file']{
			display: hidden;
		}
		.file_lbl {
			border: 1px solid #ccc;
			display: inline-block;
			cursor: pointer;
			padding: 0;
			border: none;
			font-size: 10px;
			float: right;
			margin-left:150px;
			width: 150px;
			height: 30px;
			border-radius: 5px;
			padding: 7px;
			background-color: #444;
		}
		#file_text{
			border: none !important;
			width: 200px;
			float: left;
		}
		#edit_user_image{
			margin-right: 40px;
			border: 1px solid #555;
			color: #aaa;
		}
		#user_profile_image{
			width: 100%;
		}

		#user_datas_navigation_container{
			float:right;
			padding: 30px;
		}
/*
*
* 	edit_user.php
*
*/		
		#theme_radio_container label{
			color: white;
		}
		#show_user_div{
			margin: auto;
			margin-left: 30px;
			float: left;
			width: 700px;
			height: 40%;
		}
		#show_user_div table{
			width: 60%;
			margin: 40px 0;
			float: left;
		}
		#show_user_div td, #edit_user_div td{
			height: 20px;
		}
		#show_user_div td font, #edit_user_div td font{
			font-weight: bold;
			color: #ccc;
		}
		.user_modify_img{
			width: 40px;
			height: 40px;
			display: inline;
			float: right;
		}
		#show_user_div input, #edit_user_div input{
			border: none;
			width: 100%;
			font-size: 14px;
			color: white;
			border-bottom: 1px solid #666;
			pointer-events: auto;
		}
		#show_user_div input:hover{

			border-bottom: 1px solid blue;
		}
		#edit_user_submit{
			background-image: url('.././img/save_white.png');
			background-size: 30px 30px;
			background-repeat: no-repeat;
			float:right;
			color:black;
			width: 30px;
			height: 30px;
			pointer-events: auto;
		}
		#edit_user_submit:focus, #edit_user_submit:hover{
			background-image: url('.././img/save_blue.png');
		}
		#edit_user_back{
			background-image: url('.././img/back_white.png');
			background-size: 30px 30px;
			background-repeat: no-repeat;
			color:black;
			background-color: transparent;
			width: 30px;
			height: 30px;
			margin-top: 70px;
		}
		#edit_user_back:focus, #edit_user_back:hover{
			background-image: url('.././img/back_blue.png');
		}
		#header_user_modify_button{
			background-image: url('.././img/modify_datas_white.png');
			margin: 0;;
			width: 30px;
			height: 30px;
			background-size: 30px 30px;
			background-repeat: no-repeat;
			background-color:transparent;
			display: inline;
			float: right;
		}
		#header_user_delete_button{
			background-image: url('.././img/delete_white.png');
			margin-right: 2px;
			width: 30px;
			height: 30px;
			background-repeat: no-repeat;
			background-color: transparent;
			background-size: 30px 30px;
			display: inline;
			float: right;
			margin-top: 50px;
		}
		#edit_user_file_lbl{
			margin-right: 80px;
		}
		#edit_user_navigation_container{
			width: 50%;
			float: right;
			height: 50px;
			padding: 10px;
			display: block;
			position: relative;
			top: 170px;
			left: 100px;
		}
		#user_img{
			width: 200px;
			float: left;
			background-image: radial-gradient(white,  black 75%);
		}
		#user_img_nav_container{
			float:left;
			margin-left: 30px;
			width: 750px;
		}

/*
 *
 * 	n-back_options
 *
 */	
		#n_back_options_names{
			margin: 0;
			width: 68%;
			height: 100%;
			float: left;
		}
		#n_back_options b{
			height: 19px;
			width: calc( 40% - 6px);
			padding: 3px;;
			_background-color: #111;
			color: #ccc;
		}
		::-moz-selection {
			background: white; /* Gecko Browsers */
			color: black;
		}
		input::-moz-selection {
			background: none; /* Gecko Browsers */
			color: white;
		}
		#n_back_options_values{
			margin: 0;
			width: 28%;
			height: 100%;
			float: right;
			font-size: 10px;
			text-align: center;
		}

		#n_back_options_controls{
			margin: 1%;
			width: 98%;
			height: 100px;
			float: left;
			background-color: black;
			color: white;
		}

		.n_back_options_values_container{
			width: 100%;
			height: 60px;
			float: inherit;
		}
		#n_back_options_values_select_manual{
			width: 38px;
			box-shadow: 0 0 0px, 4px 1px 1px 1px;
			border-bottom-right-radius: 5px;
		}
		.n_back_options_values_container input[type="text"]{
			width: 21%;
			border:none;
			font-size: 13px;
			font-weight: bold;
			color: black;
			background-color: black;
			color: white;
			border-bottom-right-radius: 5px;
		}
		input[type=number] {
			-moz-appearance: textfield;
		}
		input[type="number"]:hover, input[type="number"]:focus {
			-moz-appearance: number-input;
		}
		#n_back_options_values label {
			color: black;
		}
/*
 * N-back options number inputs
 *
 */
		.number_input_container .input{
			background: transparent;
			color: white;
			border-top: 1px solid transparent;
			border-bottom: 1px solid transparent;
			border-left: 1px solid #666 !important;
			border-right: 1px solid #666 !important;
		}
		.number_input_container div{
			background: transparent;
			border: transparent;
			background: #222;
			color: white;
		}
		.number_input_container div:hover{
			border-color: transparent;
			background: #431;
			color: white;
		}


/*
 *
 * 	n-back well come page
 *
 */
		#n_back_well_come_left_container{
			margin: 1% 0 auto 1%;
			height: 300px;
			width: auto;
			_border: 1px solid red;
			float: left;
		}
		#n_back_well_come_right_container{
			margin: 1% 1% 0 auto;
			height:  300px;
			width: 50%;
			min-width: 50%;
			_border: 1px solid black;
			float: left;
		}
		#n_back_well_come_bottom_container{
			margin: 7px 0 0 1%;
			min-height: 35%;
			height: auto;
			width: 88%;
			_border: 1px solid black;
			float: left; _clear: left;
			overflow-y: auto;
		   overflow-x: hidden;
		}
		#n_back_well_come_right_container p{
			text-align: center;
		}
		#n_back_start_button{
			background-image: url(".././img/n_back_start_white.png");
			width: 32px;
			height:32px;
			background-repeat: no-repeat;
			margin: 10px;
			border: none;
			background-color: transparent;
			pointer-events: auto;

		}
		#n_back_start_button:focus{
			background-image: url(".././img/n_back_start_blue.png");
			background-size: 32px 32px;
		}
		#n_back_start_button:hover{
			border: 1px solid transparent;
		}
		#n_back_start_button:hover .tooltiptext {
			visibility: visible;
			top: -17px;
			left: -100px;
		}
		#n_back_options_button{
			background-image: url(".././img/n_back_edit_white.png");
			width: 32px;
			height:34px;
			background-repeat: no-repeat;
			margin: 10px;
			border: none;
			background-color: transparent;
			pointer-events: auto !important;
		}
		#n_back_options_button:focus, #n_back_options_button:hover{
			background-image: url(".././img/n_back_edit_blue.png");
			background-size: 32px 32px;
		}
		#n_back_options_button:hover{
			border: 1px solid transparent;
		}
		#n_back_options_button:hover .tooltiptext {
			visibility: visible;
			top: -10px;
			left: -100px;
		}
		#n_back_info_button{
			background-image: url(".././img/book_white.png");
			width: 36px;
			height:34px;
			background-repeat: no-repeat;
			margin: 7px;;
			border: none;
			background-color: transparent;
			pointer-events: auto !important;
		}
		#n_back_info_button:focus,#n_back_info_button:hover{
			background-image: url(".././img/book_blue.png");
			background-size: 32px 32px;
		}
		#n_back_info_button:hover{
			border: 1px solid transparent;
		}
		#n_back_info_button:hover .tooltiptext {
			visibility: visible;
			top: -10px;
			left: -100px;
		}
		#n_back_edit_doc{
			background-image: url(".././img/edit_white.png");
			width: 32px;
			height:34px;
			background-repeat: no-repeat;
			margin: 10px 10px 10px 13px;
			border: none;
			background-color: transparent;
			pointer-events: auto !important;
		}
		#n_back_edit_doc:focus,#n_back_edit_doc:hover{
			background-image: url(".././img/edit_blue_16.png");
			background-size: 32px 32px;
		}
		#n_back_edit_doc:hover{
			border: 1px solid transparent;
		}
		#n_back_edit_doc:hover .tooltiptext {
			visibility: visible;
			top: -10px;
			left: -100px;
		}
		#n_back_del_doc{
			background-image: url(".././img/delete_white.png");
			width: 32px;
			height:34px;
			background-repeat: no-repeat;
			margin: 10px 10px 10px 10px;
			border: none;
			background-color: transparent;
			pointer-events: auto !important;
		}
		#n_back_del_doc:focus, #n_back_del_doc:hover{
			background-image: url(".././img/delete_blue.png");
			background-size: 32px 32px;
		}
		#n_back_del_doc:hover{
			border: 1px solid transparent;
		}
		#n_back_del_doc:hover .tooltiptext {
			visibility: visible;
			top: -10px;
			left: -100px;
		}
		.n_back_well_come_controls{
			padding: 10px;
			height: 50px;
			width: 98%;
			float: right;
			float: inherit;
		}

		.n_back_setup_info_header_img{
			height: 25px;
			float:left;
			padding-top: 10px;
		}

		#n_back_options_submit{
			height:32px;
			width:30px;
			margin: 0 0 0 10px;
			background-color: transparent;
			border: none;
			pointer-events: auto !important;
			background-image: url(".././img/save_white.png");
		}
		#n_back_options_submit:focus, #n_back_options_submit:hover{
			background-image: url(".././img/save_blue.png");
		}
		#n_back_options_back{
			height:30px;
			width:30px;
			background-color: transparent;
			background-size: 30px 30px;
			border: none;
			pointer-events: auto !important;
			margin: 50px 0 0 10px;
			background-image: url(".././img/back_white.png");
			background-repeat: no-repeat;
			float: inherit;
			position: relative;
		}
		#n_back_options_back:focus, #n_back_options_back:hover{
			background-image: url(".././img/back_blue.png");
			background-size: 32px 32px;
		}
		#n_back_options_back:hover .tooltiptext {
			visibility: visible;
			top: -30px;
			left: -100px;
		}
		#n_back_info_create{
			height:30px;
			width:30px;
			background-color: transparent;
			margin: 0 0 0 13px;
			border: none;
			pointer-events: auto !important;
			background-image: url(".././img/add_white.png");
			background-repeat: no-repeat;
			background-size: 30px 30px;
			float: inherit;
			position: relative;
		}
		#n_back_info_create:focus{
			background-image: url(".././img/add_blue.png");
			background-size: 32px 32px;
		}
		#n_back_info_create:hover .tooltiptext {
			visibility: visible;
			top: -30px;
			left: -100px;
		}
		#n_back_options_back_container{
			width: 100px;
			float: right;
			position: relative;
			top: -70px;
			right: 150px;
		}
		#n_back_options_back_container:hover .tooltiptext{
			visibility: visible;
		}
		#n_back_options_back_container .tooltiptext{
			top: -37px;
			left: -60px;
			width: 70px;
		}
		#n_back_long{
			cursor:  progress !important;
		}
		#n_back_options_help_container{
			width: 70%;
			height: 100px;
			margin: 150px 0 0 20px;
			float:inherit;
		}
		#n_back_options_help_container p{
			font-size: 17px;
			width: auto;
			float: left;
		}
		#n_back_options_help_container div{

			width: 40%;
			float: left;

			margin-left: 10px;
		}
		#n_back_options_help_container img{
			margin-left: 10px;
			position:relative;
			top: 10px;
			left: 30px;
		}
		.n_back_info_navigation_img{
			pointer-events: auto;
			height: 32px;
			width: 32px;
			cursor: pointer;
		}

/*
 *
 * Forum
 *
 */
		#forum_load_img_container{
			width: 60%;
			display: table;
			margin: auto;
		}
		#chat_container{
			width: calc(100% - 20px);
			height: auto;
			padding: 10px;
			font-size: 10px;

		}
		#form1{
			padding: 5px;
			min-height: 560px;
			width: calc( 100% - 10px );
		}
		#chat_name{
			width: auto;
			background-color: white;
			border: none;
			font-weight: bold;
			pointer-events: none;
			font-size: 16px;
		}
		#chat_container textarea{
			resize: none;
			width: 100%;
			pointer-events: auto;
			font-size: 12px;
			border-radius: 4px;
			border: 2px solid #aaa;
			background-color: white;
			overflow: auto;
			padding: 10px;
		}
		#chat_send{
			color: black;
			padding: 10px 20px 7px 20px;
			text-decoration: none;
			pointer-events: auto;
			font-size: 12px;
			background-color: #eeeeef;
			position: relative;
			bottom: 0;
			margin: 75px 10px 0 0;
			color: #668;
		}
		#chat_container #room_mark_input {
			border: none;
			background-color: black;;
			font-weight: bold;
			font-size: 13px;
		}
		#msg_title_input{
			color: white;
			background-color: white;
			font-size: 13px;
			width: 102.5%;
			border: none;
			border: 1px solid #335;
			pointer-events: auto;
			background-color: #444;
			padding: 3px;

		}
		#msg_title_input:focus{
			border: 1px solid blue;
		}
		#msg_container{
			float: left;
			width: 80%;
			display: table;
		}
		#forum_container{
			margin-top: 40px;

		}
		#msg_user_name{
			color: green;
			margin-left: 5px;
			font-family: Comic Sans MS;
		}
		#forum_send_msg_container{
			float: left;
			width: 95%;
			height: 100px;
			padding:0 0 0 5px;
			display: table;

		}
		#myBtn {
			pointer-events: auto;
			font-size: 12px;
			background-color: #444;
			color: #bbb;
		}
		#navigator_container{
			position: fixed;
			bottom: 0;
			width: 100%;
			height: 30px;
			left: 0;
			z-index: 2;
		}
		#navigator_inside_container{
			width: 870px;
			max-width: 80%;
			display: table;
			position: absolute;
			left: calc(50% - 352px);
		}
		#room_mark_input{
			float: left;
		}
		#num_of_logs{
			float: right;
			min-width: 100px;
			margin-right: 10px;
			text-align: right;
		}
		#num_of_download_logs{
			float: right;
		}
		#num_of_download_logs font{
			cursor: pointer;
		}
		.highlighted_page_number{
			color:black;
			background-color: white;
			padding: 1px;
		}
		#navigator_container #left_arrow, #navigator_container #right_arrow{
			visibility: inherit !important;
		}
		#forum_header{
			display: table;
			height: 20px;
			width: 100%;
		}
		#forum_header #num_of_items_container{
			height: 15px;
			display: table;
		}
		#forum_header #num_of_items{
			line-height: 0;
			padding: 1px;
		}
		#forum_header #num_of_items:hover{
			border-bottom: 1px solid blue;
		}
/*
 *
 * Log properties
 *
 */
		.log_container{
			width: 98%;
			margin: auto;
			display: table;
			min-height:120px;
			box-shadow: 0 1px 3px  #aaa;
			font-size: 12px;
			box-shadow: 2px 2px 5px #aaa;
			border: 1px solid #e5e5e5;
			color: black;


		}
		.log_container * {
			box-sizing: border-box;
		}
		.log_container>.image_container{
			height: 100%;
			display: flex;
			background-color: white;
			float: left;
			width: 15%;
			padding:0;

		}
		.log_header{
			width: 100%;
			padding: 4px;
			border-bottom: 1px solid #ccc;
			display: table;
			float: right;
			font-size: 10px;
		}
		.log_header_left_container{
			width: 100%;
			float: right;
			overflow-x: hidden;
			border-bottom: 1px solid #ddd;
		}
		.log_header_title{
			width: 100%;
			height:12px;
			margin: 3px 0;
			overflow: hidden;
			float: left;
			width: 50%;
		}
		.log_msg_container{
			width: 100%;
			display: table;
			padding: 10px;
			min-height: 500px;
			float: left;
		}
		.right_side_container{
			width: 85%;
			float: right;
			border: none;
			border-left: 1px solid #aaa;
			min-height: 165px;
		}
		#delete_msg_link{
			text-decoration: none;

		}
		#chat_message:focus{
			border: 2px solid blue;
		}
		/* The Modal (background) */
		.modal {
			display: none; /* Hidden by default */
			position: fixed; /* Stay in place */
			z-index: 1; /* Sit on top */
			left: 0;
			top: 0;
			width: 100%; /* Full width */
			height: 100%; /* Full height */
			overflow: auto; /* Enable scroll if needed */
			background-color: rgb(0,0,0); /* Fallback color */
			background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
			-webkit-animation-name: fadeIn; /* Fade in the background */
			-webkit-animation-duration: 0.4s;
			animation-name: fadeIn;
			animation-duration: 0.8s
		}

		/* Modal Content */
		.modal-content {
			background-color: #333;
			padding: 5px;
			border: 1px solid #888;
			height: 120px;
			border-radius: 6px;
			position: fixed;
			bottom: 10px;
			margin-left: calc(50% - 300px);
			width: 750px;
			-webkit-animation-name: slideIn;
			-webkit-animation-duration: 0.4s;
			animation-name: slideIn;
			animation-duration: 0.2s;
			display: table;

		}
		.image_container{
			background-color: black;
		}
		.image_container img{
			background-image: radial-gradient(white,  black 75%);
			width: 100%;
			float: right;
		}

		/* The Close Button */
		.close {
			color: #aaaaaa;
			float: right;
			font-size: 28px;
			font-weight: bold;
			pointer-events: auto;
			margin: 0 6px 30px 10px;
			padding: 0;
			height: 0;
		}

		.close:hover, .close:focus {
			color: #000;
			text-decoration: none;
			cursor: pointer;
		}




		.wrap {
			text-align: center;
		}

		.wrap a {
			-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
			-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
			-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
			-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
			transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
			display: block;
			margin: 2px;
			max-width: 200px;
			max-height:30px;
			text-decoration: none;
			border-radius: 4px;
			padding: 5px 20px 5px 20px;
		}

		.wrap a.button , .wrap a, .wrap label{
			color: #aaa;
			box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
		}

		.wrap a.button:hover , .wrap a:hover, .wrap #chat_send:hover, .wrap label:hover{
			color: rgba(255, 255, 255, 0.85);
			box-shadow: #335 0 0px 0px 40px inset;
		}
		.wrap a:focus{
			color: rgba(255, 255, 255, 0.85);
			box-shadow: #335 0 0px 0px 40px inset;
		}
/*
 *
 * Profilok
 *
 */
		#profiles_table{
			width: 98%;
			padding: 10px;
			display: table;

		}

		.profile_image_container img{
			width: 100%;
			float: right;
		}
		#profiles_table a {
			color: blue;
			text-decoration: none;
			margin-top: 30px;
		}
		.profile_container{
			height: auto;
			display: table;
			line-height: 20px;
			font-weight: bold;
			background-color: white;
			color:black;
			box-shadow: 2px 2px 5px #aaa;
		}
		.profile_datas_container{
			width: 78.5%;
			height: 100%;
			float: right;
			padding: 4px;
		}
		.profile_datas_container font{
			background-color: white;
		}
		.rated_container{
			float: right;
			padding: 15px;
			height: 100%;
		}
		.rated_container font{
			color: #337;
		}
		.profile_image_container{
			float: left;
			width: 18%;
			height: 200%;
			_border-right: 1px solid #777;
		}
		#profils_select_container{
			padding: 10px 0 10px 0;
			display: table;
			width: 100%;
			height: 30px;
		}
		#profils_select_input{
			border: none;
			border-bottom: 1px solid #777;
			font-weight: bold;
			width:150px;
			float: left;
		}
		#profils_select_input:hover{
			border-bottom: 1px solid blue;
		}
		#prifiles_order_by_radio_container{
			float: right;
			padding: 10px 0;
		}
		#prifiles_order_by_radio_container span{
			margin: 0 10px 0 10px;
		}
		#profils_select_submit{
			border: none;
			outline: none;
			background-image: url(".././img/search_blue.png");
			background-size: 20px 20px;
			height: 20px;
			width: 20px;
			margin: 0 0px 8px 2px;

		}
		#profils_select_submit:hover{
			border: 1px solid transparent;
		}

/*
 *
 * 	REport.php
 *
 */
		#report_container{
			width: 100%;
		}
		#report_container p{
			text-align: center;
			font-size: 15px;
		}
		#wellcome_img_container{
			margin: auto;
			width: 20%;
			display: table;
		}
/*
 *
 * Chart.php
 *
 */
		.time_column{
			background-color: black;
		}
		#chart_child_container{
			border-bottom: 1px solid white;
			border-left: 1px solid white;
			float: left;
			margin: 30px 0 0px 10px;
			display: flex;
		}
		.column{
			float: left;
			display: flex;
			writing-mode: vertical-lr;
			border-top: 3px solid black;
			color: #653; 
			background-image: linear-gradient( black, #332, black );
		}
		.column:hover {
			background-image: linear-gradient( black, #666, black );
		}
		.column .chart_pointer{
			color: white;
		}
		.skala_conteiner{
			border-top: 1px solid #eee;
		}
/*
 *
 * 	Edit forum
 *
 */

		#edit_forum_table td{
			line-height: 10px;
			border-bottom: 1px solid #777;
			max-width: 100px;
			min-width: 50px;
			text-align: center;
			padding: 20px;
		}
		#edit_forum_table th{
			width: 100px;
		}
		#edit_forum_table{
			margin: auto;
			_border: 1px solid green;
		}
		#edit_forum_table a{
			text-decoration: none;
			color: #ddd;
			font-weight: bold;
			transition: color 0.2s ease-in-out;
		}
		#edit_forum_table a:hover{
			color:#c05;
			transition: color 0.2s ease-in-out;
		}
		#edit_forum_table th{
			background-color: #333;
			border-radius: 3px;
			color: white;
		}


		#create_forum_item form{
			border: 1px solid #777;
			width: 800px;
			display: table;
			float: left;
			position: fixed;
			bottom: 5px;
			max-height: 30px !important;
		}
		#create_forum_item input[type="text"]{
			border: none;
			border-bottom: 1px solid #999;
			float: left;
			margin-top: 20px;
			padding: 5px;
			margin:0 5px;
			width: 100px;
		}
		#create_forum_item .file_lbl{
			border: 1px solid #777;
			text-align: center;
			margin: 5px 0 2px 40px;
			padding: 6px 7px;
			height: 11px;
			float: left;
			color: #999;
			text-align: center;
			font-size: 12px !important;
			transition: background-color 0.5s ease-in-out;
		}
		#create_forum_item .file_lbl:hover{
			background-color:#335;
			color: #aaa;
			transition: background-color 0.5s ease-in-out;
		}
		#create_forum_form_text_container{
			float: left;
			width: 100%;
			background-color: #335;
			color: white;
			text-align: center;
			font-size: 9px;
			border-bottom: 1px solid #aaa;

		}
		#forum_img{
			max-width: 32px;
			max-height: 28px;
			float: left;
			margin: 3px 5px 3px 30px;
		}
		#drop_modify_datas{
			width: 28px;
			height: 28px;
			float: right;
			margin: 0 5px 0 0;
			background-repeat: no-repeat;
			cursor: pointer;
		}
		#create_forum_item button{
			background-image: url("./../img/add_white.png");
			background-repeat: no-repeat;
			background-color: black;
			border: none;
			width: 32px;
			height: 32px;
			margin: 2px 3px 0;
			float: 	right;
			border-radius: 7px;
			transition: background-image 0.5s ease-in-out;
		}
		#create_forum_item button:hover{

			background-image: url("./../img/add_blue.png");
		}
		#create_forum_item button img{
			width: 28px;
		}
		.radio_container{
			display: inline-block;
			position: relative;
			cursor:pointer;
			font-family: sans-serif;
			user-select: none;
			color: #777;

		}
		.radio_container input{
			display: none;
		}
		.radio_container .circle{
			display: inline-block;
			width: 12px;
			height: 12px;
			border-radius: 20%;
			background-color: #888;
		}
		.radio_container:hover .circle{
			background-color: #eee;
		}
		.radio_container input:checked + .circle{
			background:  #653
		}
/*
 *
 *	Start page
 *
 */
		#start_page_img{
			background-image: url(".././img/chart_illustrated_black.png");
			background-repeat: no-repeat;
			height: 300px;
			width: 480px;
			float: left;
			margin: 0 20px 0 0;
		}

/*
 *
 * 	INFO LABEL
 *
 */
		#info_lbl_container{
			z-index:2;
			background-color:black; 
			_border: 1px solid #320;
			_border-top-left-radius: 10px;
			_border-bottom-left-radius: 10px;
			color: white;
			padding: 10px 5px 10px 5px;
			font-size: 12px;
		}
		#info_lbl_container p{
			text-align: right;
			line-height: 0;
			font-weight: bold;
			color: #aaa;
		}
		#info_lbl_container hr{
			color: transparent;#444
		}
		#info_lbl_container font{
			color: #aaa;
		}
		#info_lbl_container button{
			background-color: transparent;
			color: white;
			border: 1px solid #aaa;
		}
/*
 *
 * 	Seria
 *
 */
		#seria_text{
			color: #1b1;
		}
